* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  /* min-height: 100vh; */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.container {
  position: relative;
  max-width: 900px;
  padding: 50px;
  width: 100%;
  background: #fff;

  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
.container header {
  font-size: 1.5rem;
  color: #333;
  font-weight: 500;
  text-align: center;
}
.container .form {
  margin-top: 30px;
}
p-calendar,
textarea,
.form .input-box {
  width: 100%;
  margin-top: 20px;
}
textarea {
  position: relative;

  outline: none;
  font-size: 1rem;
  color: #707070;
  margin-top: 8px;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 0 15px;
}
/* EDITED */
.input-box1 {
  padding-top: 20px;
}
.input-box1 .dp {
  display: flex;
  height: 50px;
  width: 100%;
  outline: none;
  font-size: 1rem;
  margin-top: 8px;
  border: 1px solid #ddd;
  border-radius: 6px;
}
.input-box label {
  color: #333;
}
p-calendar {
  position: relative;
  height: 50px;
  width: 100%;
  outline: none;
  font-size: 1rem;
  color: #707070;
  margin-top: 8px;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 0 15px;
}
.partner {
  padding-left: 15px;
}
p-dropdown {
  display: flex;
  position: relative;
  height: 50px;
  width: 100%;
  outline: none;
  font-size: 1rem;
  color: #707070;
  margin-top: 8px;
  padding: 0 15px;
}
.form :where(.input-box input, ) {
  position: relative;
  height: 50px;
  width: 100%;
  outline: none;
  font-size: 1rem;
  color: #707070;
  margin-top: 8px;
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 0 15px;
}
.input-box input,
p-calendar,
.select-box :focus {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
.form .column {
  display: flex;
}
.form .column1 {
  display: flex;
  column-gap: 10px;
}

.form button {
  height: 55px;
  margin-left: 40%;
  width: 100px;
  border-radius: 10px;
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  margin-top: 30px;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
  background: #6b7280;
}
.form button:hover {
  background: rgb(222, 220, 224);
}
/*Responsive*/
@media screen and (max-width: 500px) {
  .form .column {
    flex-wrap: wrap;
  }
}
