<p-toast></p-toast>
<body>
  <section class="container">
    <header><h1>Add Extension Program</h1></header>
    <br />
    <form [formGroup]="myForm" (ngSubmit)="onSubmit()" class="form">
      <div class="input-box">
        <label>Program Title:</label>
        <input type="text" required formControlName="programTitle" />
      </div>

      <div class="input-box">
        <label>Place:</label>
        <input type="text" required formControlName="place" />
      </div>

      <div class="column">
        <div class="input-box">
          <label>Program Leader:</label>
          <input type="text" required formControlName="programLead" />
        </div>
        <div class="input-box">
          <label class="partner">Partner:</label>
          <div class="select-box">
            <p-dropdown
              [options]="partnerss.partners"
              optionLabel="partnerName"
              formControlName="partner"
            ></p-dropdown>
          </div>
        </div>
      </div>
      <div class="column1">
        <div class="input-box">
          <label>Start Date:</label>

          <input type="date" formControlName="startDate" />
        </div>

        <div class="input-box">
          <label>End Date:</label>
          <input type="date" formControlName="endDate" />
        </div>
      </div>
      <div class="input-box">
        <label>Additional Details:</label>
        <textarea
          class="field"
          name="w3review"
          rows="10"
          cols="86"
          required
          formControlName="additionalDetails"
        >
        </textarea>
      </div>

      <button
        class="button"
        [style]="{
          'background-color': systemProfile.ThemeColor + ' !important',
          width: '100px',
          height: '45px',
          color: 'white'
        }"
      >
        Submit
      </button>
    </form>
  </section>
</body>
