.receipt-container {
  background-image: url("../../../assets/placeholder_templates/terminalReport.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  /* other styles */
}
