tr {
  font-size: 15px;
}
th {
  font-size: 18px;
}
* {
  color: #404040;
}
h1 {
  font-weight: 600;
  text-align: center;
  padding-bottom: 30px;
  font-weight: bold;
}
.card {
  margin-left: 5%;
  margin-right: 5%;
  background-color: white;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
  padding-right: 50px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 30px;
}
.btn {
  color: white;
  width: 100px;
  height: 40px;
  border-radius: 6px;
  border: 0px;
  font-weight: 600;
  font-size: 17px;
  cursor: pointer;
}
.searchField {
  float: right;
}
.ui-datatable table {
  table-layout: auto !important;
}
.status {
  text-align: center;
  margin-left: 10%;
}
