<!-- <p>ongoing-partners works!</p> -->
<body>
  <div class="header1">
    <h1>ON GOING</h1>
  </div>

  <div>
    <input class="searchbar" placeholder="Search Name" />
    <button class="search">Search</button>
    <button class="addextension">Add Extension</button>
  </div>
  <div class="table-section">
    <table class="table">
      <thead>
        <tr>
          <th>Partner Name</th>
          <th>Address</th>
          <th>Contact Person</th>
          <th>Contact No.</th>
          <th>Start Date</th>
          <th>End Date</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Department of Health</td>
          <td>213 Malolos, Bulacan</td>
          <td>John Doe</td>
          <td>09364728374</td>
          <td>03/27/23</td>
          <td>04/01/23</td>
          <td>
            <button class="viewmoa">View MOA</button>
          </td>
        </tr>
        <tr>
          <td>Department of Health</td>
          <td>213 Malolos, Bulacan</td>
          <td>John Doe</td>
          <td>09364728374</td>
          <td>03/27/23</td>
          <td>04/01/23</td>
          <td>
            <button class="viewmoa">View MOA</button>
          </td>
        </tr>
        <tr>
          <td>Department of Health</td>
          <td>213 Malolos, Bulacan</td>
          <td>John Doe</td>
          <td>09364728374</td>
          <td>03/27/23</td>
          <td>04/01/23</td>
          <td>
            <button class="viewmoa">View MOA</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</body>
