<head>
  <link
    href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
    rel="stylesheet"
  />
</head>
<body
  style="background-color: {{
    hexToRgbA(systemProfile.ThemeColor, alpha)
  }}; height:100%"
>
  <p-toast></p-toast>
  <div class="container">
    <div class="Midpart">
      <br /><br /><br /><br />
      <div class="loginpage">
        <br /><br />
        <img
          src="http://localhost/extensionManagementRestAPI/assets/adminProfile/{{
            systemProfile.Logo
          }}"
          alt=""
          class="companyLogo"
          style="height: 100px; width: 100px"
        />

        <form (ngSubmit)="loginProcess()">
          <h1>Forgot Password</h1>
          <hr />

          <!-- <p class="desc">as User</p> -->
          <br />
          <input
            type="text"
            pInputText
            formControlName="email"
            placeholder="Email"
          />

          <br />

          <!-- <a href="#"><input type="submit" /></a> -->
          <button style="background-color: {{ systemProfile.ThemeColor }}">
            Submit
          </button>
          <br />
        </form>
        <br /><br />
      </div>
    </div>
  </div>
  <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
</body>
