* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  padding-top: 90px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container {
  margin: 10px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-bottom: 100px;
}

.Midpart {
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.loginpage {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  width: 450px;
  height: 380px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 20px;
  height: auto;
}
form {
  margin-top: -20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 28px 0px;
}
h1 {
  font-size: 30px;
  color: #272727;
  padding-top: 15px;
  margin-bottom: 20px;
}
.desc {
  color: #434343;
  font-weight: 600;
}
span {
  position: absolute;
  top: 54%;
  font-size: 20px;
  color: #6b7280;

  padding-left: 320px;
  cursor: pointer;
}

input {
  width: 380px;
  height: 60px;
  margin: 10px 0px;
  padding: 0px 10px;
  outline: none;
  border: 1px solid #ccc;
  font-size: 1rem;
  border-radius: 10px;
}
button {
  width: 100%;
  color: white;
  height: 60px;
  border-radius: 10px;
  border: 0px solid #ccc;
  font-weight: 600;
  font-size: 15px;
  cursor: pointer;
}
input[type="submit"] {
  /* background-color: #1877f2; */
  color: white;
  cursor: pointer;
}
input[type="submit"]:hover {
  background-color: #166fe5;
  color: white;
  cursor: pointer;
}
a {
  color: black;
}
hr {
  border: 1px solid #ccc;
  width: 280px;
}
p :hover {
  text-decoration: underline;
}
