<head>
  <link
    href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
    rel="stylesheet"
  />
</head>
<body
  style="background-color: {{
    hexToRgbA(systemProfile.ThemeColor, alpha)
  }}; height:100%"
>
  <p-toast></p-toast>
  <div class="container">
    <div class="Midpart">
      <br /><br /><br /><br />
      <div class="loginpage">
        <br /><br />
        <img
          src="http://localhost/extensionManagementRestAPI/assets/adminProfile/{{
            systemProfile.Logo
          }}"
          alt=""
          class="companyLogo"
          style="height: 100px; width: 100px"
        />
        <br />

        <form [formGroup]="forgot" (click)="resetPass()">
          <h1>Forgot Password</h1>
          <hr />

          <!-- <p class="desc">as User</p> -->
          <br />
          <input
            type="text"
            pInputText
            formControlName="email"
            placeholder="Email"
          />

          <br />

          <!-- <a href="#"><input type="submit" /></a> -->
          <button
            style="background-color: {{ systemProfile.ThemeColor }} "
            [disabled]="loading"
            [ngStyle]="{
              'background-color': loading
                ? hexToRgbA(systemProfile.ThemeColor, 0.3)
                : systemProfile.ThemeColor,
              cursor: loading ? 'default' : 'pointer'
            }"
          >
            <p *ngIf="!loading">Submit</p>
            <p-progressSpinner
              styleClass="w-2rem h-2rem"
              strokeWidth="5"
              animationDuration=".8s"
              [style]="{
                'margin-left': '-10px',
                height: '50px',
                'margin-top': '4px'
              }"
              *ngIf="loading"
            ></p-progressSpinner>
          </button>
          <br />
        </form>
        <br /><br />
      </div>
    </div>
  </div>
  <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
</body>
