<app-top-nav></app-top-nav>

<p-toast position="top-right" key="bc"></p-toast>

<body>
  <section class="container">
    <header>Edit Profile Picture</header>
    <form (ngSubmit)="onSubmit()" class="form">
      <img
        src="http://localhost/extensionManagementRestAPI/assets/profile/{{
          profileDetails.profilePicture
        }}"
        alt=""
        class="profilePicture"
        style="
          height: 150px;
          width: 150px;
          object-fit: cover;
          border-radius: 100%;
          display: block;
          margin-left: auto;
          margin-right: auto;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
          border: 4px solid white;
        "
      /><br /><br />
      <input
        type="file"
        class="upload-box"
        id="myfile"
        name="myfile"
        (change)="onImageSelected($event)"
      />
      <br /><br /><br />
      <p-button type="submit" class="p-button-succes">Save Changes</p-button>
    </form>
  </section>
</body>
