<div class="container" style="text-align: center">
  <h1>Add Program Flow</h1>
  <br /><br />
  <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <div>
      <label class="ename" for="eventName">Event Name:</label>

      <div>
        <input
          type="text"
          id="enamebox"
          placeholder="Name"
          formControlName="eventName"
        />
      </div>
      <br /><br />

      <div>
        <label for="eventType">Event Type:</label>

        <div>
          <input
            type="text"
            id="etypebox"
            placeholder="Type"
            formControlName="eventType"
          />
        </div>
      </div>
      <button
        type="submit"
        [style]="{
          'background-color': systemProfile.ThemeColor + ' !important',
          width: '150px',
          height: '45px',
          color: 'white'
        }"
      >
        Submit
      </button>
    </div>
  </form>
</div>
