<head>
  <link
    href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
    rel="stylesheet"
  /></head
><p-toast></p-toast>
<body
  style="background-color: {{
    hexToRgbA(systemProfile.ThemeColor, alpha)
  }}; height:100%"
>
  <p-toast></p-toast>
  <div class="container">
    <div class="Midpart">
      <br /><br /><br /><br />
      <div class="loginpage">
        <br /><br />
        <img
          src="http://localhost/extensionManagementRestAPI/assets/adminProfile/{{
            systemProfile.Logo
          }}"
          alt=""
          class="companyLogo"
          style="height: 100px; width: 100px"
        />
        <br />
        <form [formGroup]="forgot" (ngSubmit)="resetPass()">
          <h1>Change Password</h1>
          <hr />

          <!-- <p class="desc">as User</p> -->
          <br />
          <br />
          <p-password
            placeholder="New Password"
            formControlName="password"
            [toggleMask]="true"
            [style]="{ width: '300px', borderRadius: '3px', height: '50px' }"
            [inputStyle]="{ width: '100%', borderRadius: '3px' }"
            class="p-button-succes"
          ></p-password>
          <br />

          <br />

          <!-- <a href="#"><input type="submit" /></a> -->
          <button style="background-color: {{ systemProfile.ThemeColor }}">
            Submit
          </button>
          <br />
        </form>
        <br /><br />
      </div>
    </div>
  </div>
  <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
</body>
