<p-toast></p-toast> <br /><br />
<div class="container" style="text-align: center">
  <br /><br />
  <h1>Add Members</h1>
  <br /><br /><br />
  <form [formGroup]="myForm" (ngSubmit)="onSubmit()" class="form">
    <div class="column">
      <div>
        <label for="name" class="selectp">Select Member:</label>
        <p-dropdown
          [options]="users.pending"
          optionLabel="fullName"
          formControlName="name"
          id="parti"
        ></p-dropdown>
      </div>
      <br /><br />

      <div>
        <label for="entity" class="inv">Assigned Task:</label>
        <input
          type="text"
          id="enti"
          placeholder="Assigned Task"
          formControlName="involvement"
        />
      </div>
    </div>
    <br /><br />
    <button
      type="submit"
      class="button"
      [style]="{
        'background-color': systemProfile.ThemeColor + ' !important',
        width: '150px',
        height: '45px',
        color: 'white'
      }"
    >
      Submit
    </button>
  </form>
</div>
