<link
  href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
  rel="stylesheet"
/>
<body>
  <section class="container">
    <iframe
      [src]="
        getSafeUrl(
          'http://localhost/extensionManagementRestAPI/assets/extensionFiles/' +
            partner.data.partnerMoaFile
        )
      "
      width="500px"
      height="700px"
    ></iframe>
    <form action="#" class="form">
      <div class="input-box">
        <h1>{{ partner.data.partnerName }}</h1>
      </div>
      <br />

      <div class="input-box">
        <label>Address:</label><br />
        <input
          type="text"
          disabled
          value="{{ partner.data.partnerAddress }}"
          required
        />
      </div>
      <div class="input-box">
        <label>Contact Person:</label><br />
        <input
          type="text"
          disabled
          value="{{ partner.data.partnerContactPerson }}"
        />
      </div>
      <div class="group">
        <div class="input-box">
          <label>Start Date: &nbsp; </label><br />
          <input
            type="date"
            disabled
            value="{{ partner.data.partnerStartDate }}"
          />
        </div>
        <div class="input-box">
          <label>End Date: &nbsp; </label><br />
          <input
            type="date"
            disabled
            value="{{ partner.data.partnerEndDate }}"
          />
        </div>
      </div>
      <br />
      <br />
      <br />
    </form>
  </section>
</body>
