<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Responsive Sidebar Menu</title>
  <!--Boxicons CDN link -->
  <link
    href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
    rel="stylesheet"
  />
</head>
<body
  style="background-color: {{
    hexToRgbA(systemProfile.ThemeColor, alpha)
  }}; height:100%"
>
  <div class="sidebar" style="background-color: {{ systemProfile.ThemeColor }}">
    <div class="logo_content">
      <div class="logo">
        <img
          src="http://localhost/extensionManagementRestAPI/assets/adminProfile/{{
            systemProfile.Logo
          }}"
          alt=""
          style="height: 50px; width: 50px"
        />
        <div class="logo_name" style="font-size: 15px">
          {{ systemProfile.WebsiteName }}
        </div>
      </div>
      <!-- <button (click)="myFunction()" class="ngBtn"><i class='bx bx-menu' id="btn" ></i></button> -->
      <i class="bx bx-menu" id="btn" (click)="toggleNav()"></i>
    </div>
    <ul class="nav_list">
      <li>
        <a [routerLink]="['dashboard']">
          <i class="bx bx-grid-alt"></i>
          <span class="links_name">Dashboard</span>
        </a>
        <span class="tooltip">Dashboard</span>
      </li>
      <li>
        <a [routerLink]="['pending']">
          <i class="bx bx-user-check"></i>
          <span class="links_name">Pending Accounts</span>
        </a>
        <span class="tooltip">Pending Accounts</span>
      </li>
      <li>
        <a [routerLink]="['manage_users']">
          <i class="bx bx-user"></i>
          <span class="links_name">Manage Accounts</span>
        </a>
        <span class="tooltip">Manage Accounts</span>
      </li>
      <li>
        <a [routerLink]="['list-programs']">
          <i class="bx bx-list-ul"></i>
          <span class="links_name">Programs</span>
        </a>
        <span class="tooltip">Programs</span>
      </li>
      <li>
        <!-- to find where is the manage extension -->
        <a [routerLink]="['ongoing_partners']">
          <i class="bx bx-extension"></i>
          <span class="links_name">Ongoing Partners</span>
        </a>
        <span class="tooltip">Ongoing Partners</span>
      </li>
      <li>
        <a [routerLink]="['expired_partners']">
          <i class="bx bx-link-external"></i>
          <span class="links_name">Expired Partners</span>
        </a>
        <span class="tooltip">Expired Partners</span>
      </li>
      <!-- <li>
        <a href="#">
          <i class="bx bx-lock-open"></i>
          <span class="links_name">Reset Password</span>
        </a>
        <span class="tooltip">Reset Password</span>
      </li> -->
      <li>
        <a [routerLink]="['edit']">
          <i class="bx bx-cog"></i>
          <span class="links_name">Settings</span>
        </a>
        <span class="tooltip">Settings</span>
      </li>
    </ul>
    <div class="profile_content">
      <div class="profile">
        <div class="profile_details">
          <!-- <img src="/icon/admin_profile.png" alt=""> -->
          <!-- <i class='bx bx-user-circle'></i> -->

          <div class="user_admin">
            <div class="name">Logout</div>
          </div>
        </div>

        <!-- Darker color here -->
        <i
          class="bx bx-log-out logout"
          id="log_out"
          (click)="myLogout()"
          style="background-color: {{
            hexToRgbA(systemProfile.ThemeColor, alpha)
          }}"
        ></i>
      </div>
    </div>
  </div>
  <div class="home_content">
    <router-outlet></router-outlet>
  </div>

  <!-- <script>
    let btn = document.querySelector("#btn");
    let sidebar = document.querySelector(".sidebar");

    btn.onclick = function() {
      sidebar.classList.toggle("active");
    }

  </script> -->
</body>
