<p-toast></p-toast>
<div class="container" style="text-align: center">
  <h1>Add Participant</h1>
  <br /><br />
  <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="participant">Add Participant:</label>
      <input
        type="text"
        id="parti"
        formControlName="participant"
        placeholder="Participant"
      />
    </div>
    <br /><br />

    <div>
      <label for="entity">Add Entity:</label>
      <input
        type="text"
        id="enti"
        formControlName="entity"
        placeholder="Entity"
      />
    </div>

    <button
      type="submit"
      [style]="{
        'background-color': systemProfile.ThemeColor + ' !important',
        width: '150px',
        height: '45px',
        color: 'white'
      }"
    >
      Submit
    </button>
  </form>
</div>
