<p-toast></p-toast>
<body>
  <section class="container">
    <header>Add Extension Partner</header>
    <br />
    <form (submit)="onSubmit()" class="form">
      <div class="column">
        <div class="input-box">
          <label>Extension Partner Name:</label>
          <input type="text" name="partnerName" [(ngModel)]="partnerName" />
        </div>
        <div class="input-box">
          <label>Extension Partner Address:</label>
          <input
            type="email"
            name="partnerAddress"
            [(ngModel)]="partnerAddress"
          />
        </div>
      </div>
      <div class="column">
        <div class="input-box">
          <label>Contact Person</label>
          <input
            type="email"
            name="partnerContactPerson"
            [(ngModel)]="partnerContactPerson"
          />
        </div>
        <div class="input-box">
          <label>Contact Number:</label>
          <input
            type="email"
            name="partnerContactNumber"
            [(ngModel)]="partnerContactNumber"
          />
        </div>
      </div>
      <div class="column">
        <div class="input-box">
          <label>Start Date:</label>
          <input
            type="date"
            name="partnerStartDate"
            [(ngModel)]="partnerStartDate"
          />
        </div>
        <div class="input-box">
          <label>End Date:</label>
          <input
            type="date"
            name="partnerEndDate"
            [(ngModel)]="partnerEndDate"
          />
        </div>
      </div>

      <div class="column">
        <div class="input-box1">
          <label>Extension Partner Logo:</label><br /><br />
          <input
            type="file"
            class="upload-box"
            name="image"
            name="partnerLogo"
            id="partnerLogo"
            (change)="onLogoSelected($event)"
            style="
              border: 1px solid #d5d7da;
              width: 65%;
              border-radius: 5px;
              height: 100%;
            "
          />
        </div>
        <div class="input-box1">
          <label>Upload MOA:</label><br /><br />
          <input
            type="file"
            class="upload-box"
            name="image"
            name="partnerMoaFile"
            id="partnerMoaFile"
            style="
              border: 1px solid #d5d7da;
              width: 65%;
              border-radius: 5px;
              height: 100%;
              color: black;
            "
            (change)="onMoaFileSelected($event)"
          />
        </div>
      </div>

      <button
        type="submit"
        class="button"
        [style]="{
        'background-color': systemProfile.ThemeColor + ' !important',
        width: '150px',
        height: '45px',
        color: 'white',

      }"
      >
        Submit
      </button>
    </form>
  </section>
</body>
