<p-toast></p-toast>
<body>
  <section class="container">
    <header>Renew Extension Partner</header>
    <br />
    <form [formGroup]="renew" (ngSubmit)="onSubmit()" class="form">
      <div class="column">
        <div class="input-box">
          <label>Start Date</label>
          <input
            type="date"
            formControlName="partnerStartDate"
            placeholder="YYYY-MM-DD"
          />
        </div>
        <div class="input-box">
          <label>End Date</label>
          <input
            type="date"
            formControlName="partnerEndDate"
            placeholder="YYYY-MM-DD"
          />
        </div>
      </div>
      <br /><br />
      <label for="partnerMoaFile" style="margin-left: 20%">Upload MOA:</label>
      <div class="input-box">
        <input
          type="file"
          id="myFile"
          class="upload-box"
          name="partnerMoaFile"
          (change)="onFileSelected($event)"
          required
          style="
            border: 1px solid #d5d7da;
            width: 58%;
            border-radius: 5px;
            height: 100%;
            margin-left: 20%;
          "
        />
      </div>
      <button
        class="buttons"
        type="submit"
        [style]="{
          'background-color': systemProfile.ThemeColor + ' !important',
          width: '150px',
          height: '45px',
          color: 'white',
          'margin-left': '35%'
        }"
      >
        Submit
      </button>
    </form>
  </section>
</body>
