<p-toast></p-toast>
<body>
  <section class="container">
    <header>Renew Extension Partner</header>
    <br />
    <form [formGroup]="renew" (ngSubmit)="onSubmit()" class="form">
      <div class="column">
        <div class="input-box">
          <label>Start Date</label>
          <input
            type="date"
            formControlName="partnerStartDate"
            placeholder="YYYY-MM-DD"
          />
        </div>
        <div class="input-box">
          <label>End Date</label>
          <input
            type="date"
            formControlName="partnerEndDate"
            placeholder="YYYY-MM-DD"
          />
        </div>
        <div class="input-box">
          <label for="partnerMoaFile">Upload MOA</label>
          <input
            type="file"
            id="myFile"
            class="upload-box"
            name="partnerMoaFile"
            (change)="onFileSelected($event)"
            required
          />
        </div>
      </div>

      <button type="submit">Submit</button>
    </form>
  </section>
</body>
