<link
  href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
  rel="stylesheet"
/>
<body>
  <section class="container">
    <header>Edit System Profile</header>
    <form (ngSubmit)="onSubmit()" class="form">
      <img
        src="http://localhost/extensionManagementRestAPI/assets/adminProfile/{{
          systemProfile.Logo
        }}"
        style="height: 10em"
        alt=""
        class="profilePicture"
      /><br /><br />
      <input
        type="file"
        class="upload-box"
        id="myfile"
        name="myfile"
        (change)="onImageSelected($event)"
      />

      <button type="submit" class="main-btn">Submit</button>
    </form>
  </section>
</body>
