<link
  href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
  rel="stylesheet"
/>
<body>
  <section class="container">
    <header>Change System Logo</header>
    <form (ngSubmit)="onSubmit()" class="form">
      <img
        src="http://localhost/extensionManagementRestAPI/assets/adminProfile/{{
          systemProfile.Logo
        }}"
        style="height: 10em"
        alt=""
        class="profilePicture"
      /><br /><br />
      <input
        type="file"
        class="upload-box"
        id="myfile"
        name="myfile"
        (change)="onImageSelected($event)"
        style="
          border: 1px solid #d5d7da;
          width: 60%;
          border-radius: 5px;
          height: 100%;
        "
      />
      <br /><br />
      <button
        type="submit"
        class="main-btn"
        [style]="{
          'background-color': systemProfile.ThemeColor + ' !important',
          width: '150px',
          height: '45px',
          color: 'white'
        }"
        class="buttons"
      >
        Submit
      </button>
    </form>
  </section>
</body>
