<br />
<br />
<body>
  <p-toast></p-toast><p-confirmDialog></p-confirmDialog>
  <section class="container" style="width: 100%">
    <br />
    <input
      pInputText
      type="text"
      (input)="myTab.filterGlobal($any($event.target).value, 'contains')"
      placeholder="Search"
      class="searchField"
    />
    <br /><br />
    <h1>List of Programs</h1>
    <button
      routerLink="/admin/add_program"
      class="add-btn"
      [style]="{
        'background-color': 'white',
        height: '45px',
        color: 'white',
        border: '2px solid' + systemProfile.ThemeColor
      }"
    >
      <span class="button_text" [style]="{ color: systemProfile.ThemeColor }"
        >Add Program</span
      >
      <span
        class="button_icon"
        [style]="{
          'background-color': systemProfile.ThemeColor + ' !important'
        }"
      >
        <i
          class="bx bx-plus"
          [style]="{
            'background-color': systemProfile.ThemeColor + ' !important'
          }"
        ></i
      ></span></button
    ><br /><br />

    <br />
    <br />
    <p-table
      #myTab
      [value]="users.programs"
      [tableStyle]="{ 'min-width': '60rem' }"
      [paginator]="true"
      [rows]="5"
      [rowsPerPageOptions]="[5, 10, 15, 20, 30, 50, 75, 100]"
      [globalFilterFields]="[
        'programTitle',
        'programLead',
        'partnerContactPerson',
        'place',
        'startDate',
        'endDate',
        'partner'
      ]"
      styleClass="p-datatable-gridlines"
      [autoLayout]="true"
      class="tbl"
      [globalFilterFields]="[
        'id',
        'programTitle',
        'programLead',
        'place',
        'startDate',
        'endDate'
      ]"
    >
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="id" style="width: 5%">
            ID <p-sortIcon field="id"></p-sortIcon>
          </th>
          <th pSortableColumn="programTitle" style="width: 13%">
            Title <p-sortIcon field="programTitle"></p-sortIcon>
          </th>
          <th pSortableColumn="programLead" style="width: 13%">
            Program Lead <p-sortIcon field="programLead"></p-sortIcon>
          </th>
          <th pSortableColumn="place" style="width: 16%">
            Place <p-sortIcon field="place"></p-sortIcon>
          </th>
          <th pSortableColumn="startDate" style="width: 10%">
            Start <p-sortIcon field="startDate"></p-sortIcon>
          </th>
          <th pSortableColumn="endDate" style="width: 10%">
            End Date<p-sortIcon field="endDate"></p-sortIcon>
          </th>
          <th pSortableColumn="startDate" style="width: 10%">
            Partner<p-sortIcon field="id"></p-sortIcon>
          </th>
          <th style="width: 20%">Action</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-program>
        <tr>
          <td>{{ program.id }}</td>
          <td>{{ program.programTitle }}</td>
          <td>{{ program.programLead }}</td>
          <td>{{ program.place }}</td>
          <td>{{ program.startDate }}</td>
          <td>{{ program.endDate }}</td>
          <td>{{ program.partner }}</td>
          <td>
            <button
              (click)="onView(program.id)"
              class="button"
              [style]="{
                'background-color': systemProfile.ThemeColor + ' !important',
                width: '80px',
                marginLeft: '-10px',
                height: '45px',
                color: 'white'
              }"
            >
              View</button
            >&nbsp; &nbsp;
            <button
              (click)="deleteProgram(program.id)"
              class="button"
              [style]="{
                'background-color': systemProfile.ThemeColor + ' !important',
                width: '80px',
                marginLeft: '-10px',
                height: '45px',
                color: 'white'
              }"
            >
              Delete
            </button>
            &nbsp; &nbsp;
            <button
              (click)="onUpload(program.id)"
              class="button"
              [style]="{
                border: '2px solid ' + systemProfile.ThemeColor,
                width: '130px',
                marginLeft: '-15px',
                height: '45px',
                color: systemProfile.ThemeColor,
                'background-color': 'white',
                'font-weight': 700,
                'margin-right': '15px'
              }"
            >
              Upload Files
            </button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </section>
</body>
