* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.container {
  position: relative;
  /* max-width: 1500px; */
  width: 1000px;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 50px;
  width: 100%;
  background: #fff;
  margin-top: -200px;
  margin-left: 25px;
  margin-right: 25px;
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
h1 {
  display: flex;
  align-items: center;
  font-size: 2em;
}
.searchField {
  padding: 0.5rem;
  margin-top: 20px;
}
.add-btn,
.searchField {
  float: right;
}
.add-btn {
  display: flex;
  height: 40px;
  padding: 0;
  background: #1877f2;
  border: none;
  outline: none;
  border-radius: 6px;
  overflow: hidden;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.add-btn:hover {
  background: #166fe5;
}

.button_text,
.button_icon {
  display: inline-flex;
  align-items: center;
  padding: 0 15px;
  color: #fff;
  height: 100%;
}

.button_icon {
  font-size: 1.5em;
  background: rgba(0, 0, 0, 0.08);
}
.button {
  color: white;
  width: 100px;
  height: 40px;
  border-radius: 6px;
  border: 0px;
  font-weight: 600;
  font-size: 17px;
  cursor: pointer;
}
