<body
  style="width:100%;display: inline-block; background-color: {{
    hexToRgbA(systemProfile.ThemeColor, alpha)
  }}; "
>
  <app-top-nav></app-top-nav> <br /><br /><br /><br /><br /><br /><br />
  <div class="whole">
    <div style="display: flex; justify-content: center">
      <div
        [ngStyle]="{
          backgroundImage:
            'url(assets/placeholder_templates/placeholderImg.jpg)',
          'background-size': '100% 100%',
          'background-repeat': 'no-repeat'
        }"
        class="container"
        #myContainer
      >
        <img
          src="http://localhost/extensionManagementRestAPI/assets/adminProfile/{{
            systemProfile.Logo
          }}"
          alt=""
          style="width: 150px"
        />
        <div class="content">
          <h1 class="progtitle">
            Program Title:
            <span style="font-weight: normal">{{
              program.data.programTitle
            }}</span>
          </h1>

          <h3>
            Start Date:
            <span style="font-weight: normal">
              {{ program.data.startDate }}
            </span>
          </h3>
          <h3>
            End Date:
            <span style="font-weight: normal"> {{ program.data.endDate }}</span>
          </h3>

          <h3>
            Program Lead:
            <span style="font-weight: normal">
              {{ program.data.programLead }}
            </span>
          </h3>
          <h3>
            Place:
            <span style="font-weight: normal"> {{ program.data.place }} </span>
          </h3>
          <!-- Benificiary -->
          <h3>
            Extension Partner:
            <span style="font-weight: normal">
              {{ program.data.partner }}
            </span>
          </h3>
          <br />
          <h2>Additional Details:</h2>
          <p>{{ program.data.additionalDetails }}</p>
          <br />
          <p-table [value]="program.programMembers">
            <ng-template pTemplate="header">
              <tr>
                <th>Program Members:</th>
                <th>Position:</th>
                <th>Involvement:</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-member>
              <tr>
                <td>{{ member.user }}</td>
                <td>{{ member.position }}</td>
                <td>{{ member.involvement }}</td>
              </tr>
            </ng-template>
          </p-table>
          <br /><br />
          <p-table [value]="program.programparticipant">
            <ng-template pTemplate="header">
              <tr>
                <th>Participants:</th>
                <th>Entity:</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-member>
              <tr>
                <td>{{ member.participant }}</td>
                <td>{{ member.entity }}</td>
              </tr>
            </ng-template>
          </p-table>

          <br /><br />

          <p-table [value]="program.events">
            <ng-template pTemplate="header">
              <tr>
                <th>Event Name:</th>
                <th>Event :</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-member>
              <tr>
                <td>{{ member.eventName }}</td>
                <td>{{ member.eventType }}</td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>
    <br />
    <br /><button
      class="print"
      class="btn"
      (click)="print()"
      style="margin-left: 40%"
      [style]="{
        'background-color': systemProfile.ThemeColor + ' !important'
      }"
    >
      Print
    </button>
    <br /><br /><br />
  </div>
  <br /><br /><br /><br />
  <div class="card">
    <div class="row">
      <div style="margin-right: 10px">
        <h3>Certificate:</h3>
        <iframe
          [src]="
            getSafeUrl(
              'http://localhost/extensionManagementRestAPI/assets/relatedFiles/' +
                program.data.certificate
            )
          "
          width="500px"
          height="800px"
        ></iframe>
      </div>
      <div style="margin-right: 10px">
        <h3>Attendance:</h3>
        <iframe
          [src]="
            getSafeUrl(
              'http://localhost/extensionManagementRestAPI/assets/relatedFiles/' +
                program.data.attendance
            )
          "
          width="500px"
          height="800px"
        ></iframe>
      </div>
      <div style="margin-right: 10px">
        <h3>Invitation:</h3>
        <iframe
          [src]="
            getSafeUrl(
              'http://localhost/extensionManagementRestAPI/assets/relatedFiles/' +
                program.data.invitation
            )
          "
          width="500px"
          height="800px"
        ></iframe>
      </div>
    </div>
  </div>
</body>
