<app-top-nav></app-top-nav>
<!-- <div style="background-color: rgb(255, 248, 238); height: auto">
  <br /><br /><br /><br /><br /><br /><br />

  <br /><br /><br />

  <ul>
    <h1>Program Title: {{ program.data.programTitle }}</h1>
    <h2>Start Date: {{ program.data.startDate }}</h2>
    <h2>End Date: {{ program.data.endDate }}</h2>
    <h2>Extension Partner: {{ program.data.partner }}</h2>
    <h2>Program Lead: {{ program.data.programLead }}</h2>
    <h2>Place: {{ program.data.place }}</h2>
    <br />
    <p-table [value]="program.programMembers">
      <ng-template pTemplate="header">
        <tr>
          <th>Program Members:</th>
          <th>Position:</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-member>
        <tr>
          <td>{{ member.user }}</td>
          <td>{{ member.position }}</td>
        </tr>
      </ng-template>
    </p-table>

    <br /><br />
    <p-table [value]="program.programparticipant">
      <ng-template pTemplate="header">
        <tr>
          <th>Participants:</th>
          <th>entity:</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-member>
        <tr>
          <td>{{ member.participant }}</td>
          <td>{{ member.entity }}</td>
        </tr>
      </ng-template>
    </p-table>

    <br /><br />
    <h1>Program Flow:</h1>
    <p-table [value]="program.events">
      <ng-template pTemplate="header">
        <tr>
          <th>Event Name:</th>
          <th>Event :</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-member>
        <tr>
          <td>{{ member.eventName }}</td>
          <td>{{ member.eventType }}</td>
        </tr>
      </ng-template>
    </p-table>
    <br />
    <h2>Additional Details:</h2>
    <p>{{ program.data.additionalDetails }}</p>
  </ul>

  <!-- additional files here -->
<!-- <h1>{{ program.relatedFiles[0].certificate }}</h1>
</div> -->
<div class="whole">
  <div style="display: flex; justify-content: center">
    <div
      [ngStyle]="{
        backgroundImage:
          'url(../../../../../assets/placeholder_templates/placeholderImg.jpg)',
        'background-size': '100% 100%',
        'background-repeat': 'no-repeat'
      }"
      class="container"
    >
      <div class="content">
        <h1 class="progtitle">
          Program Title:
          <span style="font-weight: normal">{{
            program.data.programTitle
          }}</span>
        </h1>
        <br />
        <h1>
          Start Date:
          <span style="font-weight: normal">
            {{ program.data.startDate }}
          </span>
        </h1>
        <h1>
          End Date:
          <span style="font-weight: normal"> {{ program.data.endDate }}</span>
        </h1>
        <br />
        <h1>
          Program Lead:
          <span style="font-weight: normal">
            {{ program.data.programLead }}
          </span>
        </h1>
        <h1>
          Place:
          <span style="font-weight: normal"> {{ program.data.place }} </span>
        </h1>
        <!-- Benificiary -->
        <h1>
          Extension Partner:
          <span style="font-weight: normal"> {{ program.data.partner }} </span>
        </h1>
        <br />
        <h2>Additional Details:</h2>
        <p>{{ program.data.additionalDetails }}</p>
        <br />
        <p-table [value]="program.programMembers">
          <ng-template pTemplate="header">
            <tr>
              <th>Program Members:</th>
              <th>Position:</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-member>
            <tr>
              <td>{{ member.user }}</td>
              <td>{{ member.position }}</td>
            </tr>
          </ng-template>
        </p-table>
        <br /><br />
        <p-table [value]="program.programparticipant">
          <ng-template pTemplate="header">
            <tr>
              <th>Participants:</th>
              <th>entity:</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-member>
            <tr>
              <td>{{ member.participant }}</td>
              <td>{{ member.entity }}</td>
            </tr>
          </ng-template>
        </p-table>

        <br /><br />

        <p-table [value]="program.events">
          <ng-template pTemplate="header">
            <tr>
              <th>Event Name:</th>
              <th>Event :</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-member>
            <tr>
              <td>{{ member.eventName }}</td>
              <td>{{ member.eventType }}</td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
  <br />
  <br />
  <!-- <div class="card">
    <div class="row">
      <div style="margin-right: 10px">
        <h3>Certificate:</h3>
        <iframe
          [src]="
            getSafeUrl(
              'http://localhost/extensionManagementRestAPI/assets/relatedFiles/' +
                users.data.certificate
            )
          "
          width="300px"
          height="400px"
        ></iframe>
      </div>
      <div style="margin-right: 10px">
        <h3>Attendance:</h3>
        <iframe
          [src]="
            getSafeUrl(
              'http://localhost/extensionManagementRestAPI/assets/relatedFiles/' +
                users.data.attendance
            )
          "
          width="300px"
          height="400px"
        ></iframe>
      </div>
      <div style="margin-right: 10px">
        <h3>Invitation:</h3>
        <iframe
          [src]="
            getSafeUrl(
              'http://localhost/extensionManagementRestAPI/assets/relatedFiles/' +
                users.data.invitation
            )
          "
          width="300px"
          height="400px"
        ></iframe>
      </div>
    </div>
  </div>
</div> -->
</div>
