program-details.component.css table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: 8px;
  text-align: left;
  border: 1px solid black;
}

h1 {
  font-size: large;
}

h2 {
  font-size: large;
}

h3 {
  font-size: large;
  padding-bottom: 10px;
}

.progtitle {
  padding-top: 25%;
}

.container {
  background-size: cover;
  background-position: center center;
  position: relative;
  max-width: 1000px;
  padding: 40px;
  width: 100%;
  margin: 10px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  display: inline-block;
}
.card {
  padding-left: 20px;
}
.whole {
  position: relative;
  max-width: 1000px;
  padding: 20px;
  width: 100%;
  margin: 10px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  display: inline-block;
  margin-left: 220px;
}

.row {
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
}
.content {
  margin-bottom: 300px;
}
