<h1>Finished Programs</h1>
<p-table [value]="users.programs">
  <ng-template pTemplate="header">
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Program Lead</th>
      <th>Place</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Partner</th>
      <th>Action</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-program>
    <tr>
      <td>{{ program.id }}</td>
      <td>{{ program.programTitle }}</td>
      <td>{{ program.programLead }}</td>
      <td>{{ program.place }}</td>
      <td>{{ program.startDate }}</td>
      <td>{{ program.endDate }}</td>
      <td>{{ program.partner }}</td>
      <td><p-button>View</p-button></td>
    </tr>
  </ng-template>
</p-table>
