<link
  href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
  rel="stylesheet"
/>
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"
/><p-toast></p-toast><p-confirmDialog></p-confirmDialog>

<div style="width: 100%">
  <div class="card">
    <br />
    <input
      pInputText
      type="text"
      (input)="myTab.filterGlobal($any($event.target).value, 'contains')"
      placeholder="Search"
      class="searchField"
    />
    <h1>
      Expired Extension Partners: &nbsp;
      <span> {{ onGoingPartners.count }}</span>
    </h1>
    <br />

    <button
      type="button"
      class="button"
      routerLink="/admin/add_partner"
      [style]="{
        'background-color': systemProfile.ThemeColor + ' !important',
        width: '270px',
        height: '45px',
        color: 'white',
        'margin-left': '10px'
      }"
    >
      <span class="button_text">Add Extension Partner</span>
      <span class="button_icon"> <i class="bx bx-plus"></i></span>
    </button>
    <br /><br />
    <br /><br />

    <p-table
      #myTab
      [value]="onGoingPartners.partners"
      [tableStyle]="{ 'min-width': '60rem' }"
      [paginator]="true"
      [rows]="5"
      [rowsPerPageOptions]="[5, 10, 15, 20]"
      [globalFilterFields]="[
        'partnerName',
        'partnerAddress',
        'partnerContactPerson',
        'partnerContactNumber',
        'partnerStartDate',
        'partnerEndDate'
      ]"
      styleClass="p-datatable-gridlines"
      [resizableColumns]="true"
      [autoLayout]="true"
      class="tbl"
    >
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="id" style="width: 6%"></th>
          <th
            pSortableColumn="partnerName"
            style="width: 16%"
            [ngStyle]="{ 'text-align': 'center' }"
          >
            Extension Name<p-sortIcon field="name"></p-sortIcon>
          </th>
          <th
            pSortableColumn="partnerAddress"
            style="width: 16%"
            [ngStyle]="{ 'text-align': 'center' }"
          >
            Extension Address <p-sortIcon field="category"></p-sortIcon>
          </th>
          <th
            pSortableColumn="partnerContactPerson"
            style="width: 16%"
            [ngStyle]="{ 'text-align': 'center' }"
          >
            Contact Person <p-sortIcon field="category"></p-sortIcon>
          </th>
          <th
            pSortableColumn="partnerContactNumber"
            style="width: 16%"
            [ngStyle]="{ 'text-align': 'center' }"
          >
            Contact Number <p-sortIcon field="category"></p-sortIcon>
          </th>

          <th
            pSortableColumn="partnerStartDate"
            style="width: 16%"
            [ngStyle]="{ 'text-align': 'center' }"
          >
            Start Date <p-sortIcon field="price"></p-sortIcon>
          </th>
          <th
            pSortableColumn="partnerEndDate"
            style="width: 5%"
            [ngStyle]="{ 'text-align': 'center' }"
          >
            End Date
          </th>
          <th style="width: 5%" [ngStyle]="{ 'text-align': 'center' }">
            Action
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-partners>
        <tr>
          <td>
            <img
              src="http://localhost/extensionManagementRestAPI/assets/extensionProfile/{{
                partners.partnerLogo
              }}"
              alt=""
              style="
                height: 80px;
                width: 80px;
                border-radius: 100%;
                object-fit: cover;
                margin-left: 20%;
              "
            />
          </td>
          <td>{{ partners.partnerName }}</td>
          <td>{{ partners.partnerAddress }}</td>
          <td>{{ partners.partnerContactPerson }}</td>
          <td>{{ partners.partnerContactNumber }}</td>
          <td>{{ partners.partnerStartDate }}</td>
          <td>{{ partners.partnerEndDate }}</td>
          <!-- <td>{{ pending.profilePicture }}</td> -->
          <!-- <td>{{ pending.startDate }}</td>
        <td>{{ pending.endDate }}</td> -->
          <td>
            <div style="display: flex">
              <button
                label="Renew"
                class="buttons"
                routerLink="/admin/view_partner/{{ partners.id }}"
                styleClass="p-button-primary"
                [style]="{
                  'background-color': systemProfile.ThemeColor + ' !important',
                  width: '100px',
                  height: '45px',
                  color: 'white',
                  'margin-left': '10px'
                }"
              >
                View
              </button>
              <button
                label="Renew"
                class="buttons"
                styleClass="p-button-primary"
                (click)="renew(partners.id)"
                [style]="{
                  border: '2px solid ' + systemProfile.ThemeColor,
                  width: '100px',
                  height: '45px',
                  color: systemProfile.ThemeColor,
                  'background-color': 'white',
                  'font-weight': 700,
                  'margin-left': '10px'
                }"
              >
                Renew
              </button>
            </div>

            <!-- </td> -->
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
