edit-system-img.component.css * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.container {
  position: relative;
  max-width: 500px;
  padding: 40px;
  width: 100%;
  background: #fff;
  margin-top: -100px;
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
.container header {
  font-size: 1.5rem;
  color: #333;
  font-weight: 500;
  text-align: center;
}
.profilePicture {
  padding-top: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.container .form {
  margin-top: 30px;
}

.form .input-box .gender {
  margin-top: 26px;
}
.input-box label {
  color: #333;
}
#myFile {
  position: relative;
  height: 50px;
  width: 100%;
  outline: none;
  font-size: 1rem;
  color: #707070;
  margin-top: 20px;
  border: 0px solid #ddd;
}

.form :where(.input-box input) {
  position: relative;
  height: 50px;
  width: 100%;
  outline: none;
  font-size: 1rem;
  color: #707070;
  margin-top: 8px;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 0 15px;
}

.form .column {
  display: flex;
  column-gap: 15px;
}
.upload-box {
  font-size: 1rem;
  background: white;
  outline: none;
  margin-left: 20%;
}
::-webkit-file-upload-button {
  color: rgb(0, 0, 0);
  background: #e8ecef;
  padding: 8px;
  border: none;
  outline: none;
  cursor: pointer;

  border-radius: 8px;
  font-family: "Montserrat", sans-serif;
}
::-webkit-file-upload-button:hover {
  background: #d1d4d6;
}

.form .main-btn {
  border-radius: 10px;
  height: 55px;
  width: 100px;
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  margin-top: 50px;
  margin-left: 40%;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
  background: #6b7280;
}
/*Responsive*/
@media screen and (max-width: 500px) {
  .form .column {
    flex-wrap: wrap;
  }
  .form :where(.gender-option, .gender) {
    row-gap: 15px;
  }
}
.buttons {
  color: white;
  width: 100px;
  height: 40px;
  border-radius: 6px;
  border: 0px;
  font-weight: 600;
  font-size: 17px;
  cursor: pointer;
  margin-left: 33%;
  margin-top: 20px;
  margin-bottom: 30px;
}
