<!----===== Iconscout CSS ===== -->
<link
  rel="stylesheet"
  href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"
/>
<link
  href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
  rel="stylesheet"
/>

<!--<title>Admin Dashboard Panel</title>-->

<body
  style="background-color: {{
    hexToRgbA(systemProfile.ThemeColor, alpha)
  }}; height:auto;"
>
  <div class="dashboard">
    <div class="dash-content">
      <div class="overview">
        <div class="title">
          <i class="uil uil-tachometer-fast-alt"></i>

          <span class="text">Dashboard</span>
        </div>

        <div class="boxes">
          <div
            class="box box1"
            style="background-color: {{
              hexToRgbA(systemProfile.ThemeColor, alphaDarker)
            }};"
          >
            <i class="bx bx-user" style="color: white"></i>
            <span class="text" style="color: white">Faculty</span>
            <span class="number" style="color: white; font-size: 4em">{{
              dashboardDetails.numbersOfFaculty
            }}</span>
          </div>
          <div
            class="box box2"
            style="background-color: {{
              hexToRgbA(systemProfile.ThemeColor, alphaDarker)
            }};"
          >
            <i class="bx bx-line-chart" style="color: white"></i>
            <span class="text" style="color: white">Pending Accounts</span>
            <span class="number" style="color: white; font-size: 4em">{{
              dashboardDetails.numbersOfPendingAccounts
            }}</span>
          </div>
          <div
            class="box box3"
            style="background-color: {{
              hexToRgbA(systemProfile.ThemeColor, alphaDarker)
            }};"
          >
            <i class="bx bx-extension" style="color: white"></i>
            <span class="text" style="color: white">Extension Partners</span>
            <span class="number" style="color: white; font-size: 4em">{{
              dashboardDetails.numbersOfExtensionPartner
            }}</span>
          </div>
          <div
            class="box box4"
            style="background-color: {{
              hexToRgbA(systemProfile.ThemeColor, alphaDarker)
            }};"
          >
            <i class="bx bx-check-square" style="color: white"></i>
            <span class="text" style="color: white">Active Programs</span>
            <span class="number" style="color: white; font-size: 4em">{{
              dashboardDetails.numbersOfActivePrograms
            }}</span>
          </div>

          <div class="box box5">
            <div id="legend">
              <p-chart
                type="doughnut"
                class="doughnut"
                [data]="data"
                [options]="options"
                style="height: 100px"
              ></p-chart>
            </div>
          </div>
        </div>
      </div>
      <br /><br />
      <div class="activity">
        <div class="title">
          <i class="uil uil-clock-three"></i>
          <h1>Extension Partner</h1>
          <br />
          <p>Less than 30 days left</p>
          <br />
        </div>

        <p-table
          #myTab
          [value]="dashboardDetails.partners"
          [tableStyle]="{ 'min-width': '60rem' }"
          [paginator]="true"
          [rows]="5"
          [globalFilterFields]="[
            'extensionPartner',
            'partnerAddress',
            'partnerContactPerson',
            'place',
            'partnerStartDate',
            'partnerEndDate'
          ]"
          styleClass="p-datatable-gridlines"
          [resizableColumns]="true"
          [autoLayout]="true"
          class="tbl"
        >
          <ng-template pTemplate="header">
            <tr>
              <th pSortableColumn="extensionPartner" style="width: 16%">
                Extension Partner <p-sortIcon field="code"></p-sortIcon>
              </th>
              <th pSortableColumn="partnerAddress" style="width: 16%">
                Address<p-sortIcon field="name"></p-sortIcon>
              </th>
              <th pSortableColumn="partnerContactPerson" style="width: 16%">
                Contact Person <p-sortIcon field="category"></p-sortIcon>
              </th>

              <th pSortableColumn="extensionPartner" style="width: 16%">
                Extension Partner <p-sortIcon field="price"></p-sortIcon>
              </th>
              <th pSortableColumn="partnerStartDate" style="width: 16%">
                Start Date <p-sortIcon field="price"></p-sortIcon>
              </th>
              <th pSortableColumn="partnerEndDate" style="width: 16%">
                End Date <p-sortIcon field="price"></p-sortIcon>
              </th>
              <th pSortableColumn="viewDetails" style="width: 16%">
                View Details <p-sortIcon field="price"></p-sortIcon>
              </th>
            </tr>
          </ng-template>
          <th *ngFor="let obj of dashboardDetails.partners"></th>
          <ng-template pTemplate="body" let-details>
            <tr>
              <td>{{ details.extensionPartner }}</td>
              <td>{{ details.partnerAddress }}</td>
              <td>{{ details.partnerContactPerson }}</td>
              <td>{{ details.partnerContactNumber }}</td>
              <td>{{ details.partnerStartDate }}</td>
              <td>{{ details.partnerEndDate }}</td>
              <td>
                <!-- (click)="onView(program.id)" -->
                <p-button label="View"></p-button>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</body>
