<!----===== Iconscout CSS ===== -->
<link
  rel="stylesheet"
  href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"
/>
<link
  href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
  rel="stylesheet"
/>

<!--<title>Admin Dashboard Panel</title>-->

<body
  style="background-color: {{
    hexToRgbA(systemProfile.ThemeColor, alpha)
  }}; height:auto;"
>
  <div class="dashboard" style="margin-top: -70px">
    <div class="dash-content">
      <div class="overview">
        <div class="title">
          <i class="uil uil-tachometer-fast-alt"></i>
          &nbsp;&nbsp;&nbsp;
          <h1>Dashboard</h1>
        </div>

        <div class="boxes">
          <div
            class="box box1"
            style="background-color: #2097f3"
            routerLink="/admin/manage_users"
          >
            <i class="bx bx-user" style="color: white"></i>
            <span class="text" style="color: white">Faculty</span>
            <span class="number" style="color: white; font-size: 4em">{{
              dashboardDetails.numbersOfFaculty
            }}</span>
          </div>
          <div
            class="box box2"
            style="background-color: #fac02e"
            routerLink="/admin/pending"
          >
            <i class="bx bx-line-chart" style="color: white"></i>
            <span class="text" style="color: white">Pending Accounts</span>
            <span class="number" style="color: white; font-size: 4em">{{
              dashboardDetails.numbersOfPendingAccounts
            }}</span>
          </div>
          <div
            class="box box3"
            style="background-color: #4db051"
            routerLink="/admin/ongoing_partners"
          >
            <i class="bx bx-extension" style="color: white"></i>
            <span class="text" style="color: white">Extension Partners</span>
            <span class="number" style="color: white; font-size: 4em">{{
              dashboardDetails.numbersOfExtensionPartner
            }}</span>
          </div>
          <div
            class="box box4"
            style="background-color: #f77b00"
            routerLink="/admin/list-programs"
          >
            <i class="bx bx-check-square" style="color: white"></i>
            <span class="text" style="color: white">Active Programs</span>
            <span class="number" style="color: white; font-size: 4em">{{
              dashboardDetails.numbersOfActivePrograms
            }}</span>
          </div>

          <div class="box box5">
            <div id="legend">
              <p-chart
                type="doughnut"
                class="doughnut"
                [data]="data"
                [options]="options"
                style="height: 100px"
              ></p-chart>
            </div>
          </div>
        </div>
      </div>
      <br /><br />
      <div class="activity">
        <div style="margin-top: -70px">
          <div class="title">
            <i class="uil uil-clock-three"></i>
            &nbsp;&nbsp;
            <h1>Extension Partner</h1>
            <br />
            <p>&nbsp;&nbsp;&nbsp;(MOA Less than 30 days left)</p>
            <br />
          </div>

          <p-table
            #myTab
            [value]="expiredDetails.partners"
            [tableStyle]="{ 'min-width': '60rem' }"
            [paginator]="true"
            [rows]="5"
            [rowsPerPageOptions]="[5, 10, 15, 20, 30, 50, 75, 100]"
            [globalFilterFields]="[
              'id',
              'partnerName',
              'partnerAddress',
              'partnerContactPerson',
              'place',
              'partnerStartDate',
              'partnerEndDate'
            ]"
            styleClass="p-datatable-gridlines"
            class="tbl"
          >
            <ng-template pTemplate="header">
              <tr>
                <th>Logo</th>
                <th pSortableColumn="id" style="width: 20%">
                  Extension Partner
                  <!-- <p-sortIcon field="id"></p-sortIcon> -->
                </th>
                <th pSortableColumn="partnerAddress" style="width: 20%">
                  Address
                  <!-- <p-sortIcon field="partnerAddress"></p-sortIcon> -->
                </th>
                <th pSortableColumn="partnerContactPerson" style="width: 16%">
                  Contact Person <p-sortIcon field="category"></p-sortIcon>
                </th>

                <th pSortableColumn="extensionPartner" style="width: 16%">
                  Contact Number
                  <!-- <p-sortIcon field="price"></p-sortIcon> -->
                </th>
                <th pSortableColumn="partnerStartDate" style="width: 10%">
                  Start Date
                  <!-- <p-sortIcon field="price"></p-sortIcon> -->
                </th>
                <th pSortableColumn="partnerEndDate" style="width: 8%">
                  End Date
                  <!-- <p-sortIcon field="price"></p-sortIcon> -->
                </th>
                <th pSortableColumn="viewDetails" style="width: 16%">
                  View Details
                  <!-- <p-sortIcon field="price"></p-sortIcon> -->
                </th>
              </tr>
            </ng-template>
            <th *ngFor="let obj of dashboardDetails.partners"></th>
            <ng-template pTemplate="body" let-details>
              <tr>
                <td>
                  <img
                    src="http://localhost/extensionManagementRestAPI/assets/extensionProfile/{{
                      details.partnerLogo
                    }}"
                    alt=""
                    style="
                      height: 80px;
                      width: 80px;
                      border-radius: 100%;
                      object-fit: cover;
                    "
                  />
                </td>
                <td>{{ details.partnerName }}</td>

                <td>{{ details.partnerAddress }}</td>
                <td>{{ details.partnerContactPerson }}</td>
                <td>{{ details.partnerContactNumber }}</td>
                <td>{{ details.partnerStartDate }}</td>
                <td>{{ details.partnerEndDate }}</td>
                <td>
                  <button
                    label="View"
                    class="button"
                    (click)="onView(details.id)"
                    [style]="{
                      'background-color':
                        systemProfile.ThemeColor + ' !important',
                      width: '100px',
                      height: '45px',
                      color: 'white',
                      'margin-left': '15%'
                    }"
                  >
                    View
                  </button>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>
    <br /><br />
  </div>
</body>
