<app-top-nav></app-top-nav>
<div
  style="background-color: {{
    hexToRgbA(systemProfile.ThemeColor, alpha)
  }}; height:1000px"
>
  <br /><br /><br /><br /><br /><br /><br />
  <p-toast></p-toast>
  <div class="editBox">
    <h1>Edit Profile</h1>
    <div class="form-group">
      <img
        src="http://localhost/extensionManagementRestAPI/assets/profile/{{
          profileDetails.profilePicture
        }}"
        alt=""
        class="profilePicture"
      />
      <div class="form">
        <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
          <br /><br />
          <!-- move to center -->
          <p-button routerLink="/edit-img">Change Profile Picture</p-button>
          <p-button routerLink="/edit-password">Change Password</p-button>

          <div class="labels">
            <label>Full Name:</label><br />
            <input
              type="text"
              pInputText
              class="form-control"
              formControlName="fullName"
            />

            <div class="form-group">
              <br />
              <label>Email:</label><br />
              <input
                type="email"
                pInputText
                class="form-control"
                formControlName="email"
              />
            </div>

            <div class="form-group">
              <br />
              <label>Position:</label><br />
              <input
                type="text"
                class="form-control"
                pInputText
                formControlName="position"
              />
            </div>
            <br />
            <p-button type="submit" class="p-button-succes"
              >Save Changes</p-button
            >
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
