* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.container {
  position: relative;
  max-width: 900px;
  padding: 50px;
  width: 100%;
  background: #fff;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
h1 {
  font-size: 30px;
  color: #6b7280;

  text-align: center;
}
.profilePicture {
  padding-top: 20px;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.labels {
  margin-left: 40%;
}
.container .form {
  margin-top: 30px;
}
textarea,
.form .input-box {
  width: 100%;
  margin-top: 20px;
}
.form .input-box .gender {
  margin-top: 26px;
}
.input-box label {
  color: #333;
}
#myFile {
  position: relative;
  height: 50px;
  width: 100%;
  outline: none;
  font-size: 1rem;
  color: #707070;
  margin-top: 20px;
  border: 0px solid #ddd;
  padding: 0 15px;
}
textarea {
  position: relative;

  outline: none;
  font-size: 1rem;
  color: #707070;
  margin-top: 8px;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 0 15px;
}
.form :where(.input-box input, .input-box select) {
  position: relative;
  height: 50px;
  width: 100%;
  outline: none;
  font-size: 1rem;
  color: #707070;
  margin-top: 8px;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 0 15px;
}
textarea,
.input-box input:focus {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
.form .column {
  display: flex;
  column-gap: 15px;
}

.address :where(input, .select-box) {
  margin-top: 15px;
}
.position {
  cursor: pointer;
}

.form button {
  border-radius: 10px;
  height: 55px;
  width: 100px;
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  margin-top: 30px;
  margin-left: 40%;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
  background: #6b7280;
}
/*Responsive*/
@media screen and (max-width: 500px) {
  .form .column {
    flex-wrap: wrap;
  }
  .form :where(.gender-option, .gender) {
    row-gap: 15px;
  }
}
