<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"
/><p-toast></p-toast><p-confirmDialog></p-confirmDialog>

<div style="width: 80%; margin-left: 10%">
  <div class="card">
    <h1>Pending Accounts</h1>
    <h1>
      {{ activeAccounts.counts }}
    </h1>
    <br />
    <input
      pInputText
      type="text"
      (input)="myTab.filterGlobal($any($event.target).value, 'contains')"
      placeholder="Search"
      class="searchField"
    />
    <br /><br />

    <p-table
      #myTab
      [value]="activeAccounts.pending"
      [tableStyle]="{ 'min-width': '60rem' }"
      [paginator]="true"
      [rows]="5"
      [globalFilterFields]="['fullName', 'email', 'position']"
      styleClass="p-datatable-gridlines"
      [resizableColumns]="true"
      [autoLayout]="true"
      class="tbl"
    >
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="id" style="width: 6%"></th>
          <th
            pSortableColumn="programLead"
            style="width: 16%"
            [ngStyle]="{ 'text-align': 'center' }"
          >
            Fullname<p-sortIcon field="name"></p-sortIcon>
          </th>
          <th
            pSortableColumn="place"
            style="width: 16%"
            [ngStyle]="{ 'text-align': 'center' }"
          >
            Email <p-sortIcon field="category"></p-sortIcon>
          </th>

          <th
            pSortableColumn="extensionPartner"
            style="width: 16%"
            [ngStyle]="{ 'text-align': 'center' }"
          >
            Position <p-sortIcon field="price"></p-sortIcon>
          </th>
          <th
            pSortableColumn="startDate"
            style="width: 5%"
            [ngStyle]="{ 'text-align': 'center' }"
          >
            Action
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-active>
        <tr>
          <td>
            <img
              src="http://localhost/extensionManagementRestAPI/assets/profile/{{
                active.profilePicture
              }}"
              alt=""
              style="
                height: 80px;
                width: 80px;
                border-radius: 100%;
                object-fit: cover;
                margin-left: 20%;
              "
            />
          </td>
          <td>{{ active.fullName }}</td>
          <td>{{ active.email }}</td>
          <td>{{ active.position }}</td>
          <!-- <td>{{ pending.profilePicture }}</td> -->
          <!-- <td>{{ pending.startDate }}</td>
        <td>{{ pending.endDate }}</td> -->
          <td>
            <p-button
              label="View Profile"
              styleClass="p-button-primary"
              (onClick)="onUser(active.id)"
              [ngStyle]="{ 'margin-right': '8px' }"
            ></p-button>
            <!-- (click)="reject(pending.id)" -->
            <!-- (click)="onView(program.id)" -->
            <p-button
              styleClass="p-button-danger"
              (click)="archive(active.id)"
              label="Archive"
              [ngStyle]="{ 'margin-right': '8px' }"
            ></p-button>

            <!-- </td> -->
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
