<!-- <p>manage-accounts works!</p> -->
<body>
  <div class="header1">
    <h1>Manage Accounts</h1>
  </div>

  <div>
    <input class="searchbar" placeholder="Search Name" />
    <button class="search">Search</button>
    <select class="sortdropdown">
      <option value="position">Sort by:</option>
      <option value="college">Department Head Allied Course</option>
      <option value="others">Department Head BLIS</option>
      <option value="others">Department Head BSIT</option>
      <option value="others">College Dean</option>
      <option value="others">College Secretary</option>
    </select>
    <button class="sort">Apply</button>
  </div>
  <div class="table-section">
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Position</th>
          <th>Email</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
          <td>
            <button class="edit">Edit</button>
            <button class="archive">Archive</button>
          </td>
        </tr>
        <tr>
          <th>2</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
          <td>
            <button class="edit">Edit</button>
            <button class="archive">Archive</button>
          </td>
        </tr>
        <tr>
          <th>3</th>
          <td>Larry the Bird</td>
          <td>Backward</td>
          <td>@twitter</td>
          <td>
            <button class="edit">Edit</button>
            <button class="archive">Archive</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</body>
