<app-top-nav></app-top-nav>

<p-toast position="top-right" key="bc"></p-toast>
<body
  style="background-color: {{ hexToRgbA(systemProfile.ThemeColor, alpha) }}; "
>
  <section class="container">
    <img
      src="http://localhost/extensionManagementRestAPI/assets/profile/{{
        profileDetails.profilePicture
      }}"
      alt=""
      class="profilePicture"
      style="
        height: 150px;
        width: 150px;
        object-fit: cover;
        border-radius: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: -120px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        border: 4px solid white;
      "
    />
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form">
      <h1>Edit Password</h1>
      <div class="input-box">
        <label>Password:&nbsp; &nbsp;</label><br /><br />
        <p-password
          formControlName="password"
          [toggleMask]="true"
          [style]="{ width: '80%', borderRadius: '3px' }"
          [inputStyle]="{ width: '100%', borderRadius: '3px' }"
          class="p-button-succes"
        ></p-password>
      </div>

      <div class="input-box">
        <label>Confirm Password:&nbsp; &nbsp;</label><br /><br />
        <p-password
          formControlName="confirmPassword"
          [toggleMask]="true"
          [style]="{
            width: '80%',
            borderRadius: '3px',
          }"
          [inputStyle]="{ width: '100%', borderRadius: '3px' }"
        ></p-password>
        <br />
      </div>
      <br /><br />
      <div class="gap-btn">
        <div
          *ngIf="!passwordsMatch()"
          style="margin-left: -100px; width: 90%; margin-top: -30px"
        >
          <p-messages
            [(value)]="notValid"
            [enableService]="false"
            [closable]="false"
          ></p-messages>
        </div>

        <button
          type="submit"
          class="button"
          [style]="{
            'background-color': systemProfile.ThemeColor,
            width: '200px',
            height: '55px',
            color: '#fff',
            ':disabled': {
              'background-color': '#000'
            }
          }"
          style="margin-left: -50px"
        >
          Save Changes
        </button>
        <br />

        <!-- &nbsp; &nbsp; &nbsp; -->
      </div>
    </form>
  </section>
</body>
