<app-top-nav></app-top-nav>

<p-toast position="top-right" key="bc"></p-toast>
<body>
  <section class="container">
    <h1>Edit Password</h1>
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form">
      <img
        src="http://localhost/extensionManagementRestAPI/assets/profile/{{
          profileDetails.profilePicture
        }}"
        alt=""
        class="profilePicture"
      />
      <br />
      <div class="input-box">
        <label>Password:&nbsp; &nbsp;</label><br /><br />
        <p-password
          formControlName="password"
          [toggleMask]="true"
          class="p-button-succes"
        ></p-password>
      </div>

      <div class="input-box">
        <label>Confirm Password:&nbsp; &nbsp;</label><br /><br />
        <p-password
          formControlName="confirmPassword"
          [toggleMask]="true"
        ></p-password>
        <br />
      </div>
      <br /><br />
      <div class="gap-btn">
        <p-button
          type="submit"
          class="p-button-succes"
          [disabled]="!form.valid || !passwordsMatch()"
          >Save Changes</p-button
        >
        <!-- &nbsp; &nbsp; &nbsp; -->
      </div>
    </form>
  </section>
</body>
