<app-top-nav></app-top-nav>

<br /><br /><br /><br /><br /><br /><br />
<p-toast position="top-right" key="bc"></p-toast>
<div class="editBox">
  <h1>Edit Password</h1>
  <div class="form-group">
    <img
      src="http://localhost/extensionManagementRestAPI/assets/profile/{{
        profileDetails.profilePicture
      }}"
      alt=""
      class="profilePicture"
    />
    <div class="form">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <br /><br />

        <!-- move to center -->
        <!-- <input
          type="file"
          id="myfile"
          name="myfile"
          (change)="onImageSelected($event)"
        /> -->
        <p-password formControlName="password" [toggleMask]="true"></p-password>
        <p-password
          formControlName="confirmPassword"
          [toggleMask]="true"
        ></p-password>
        <br />
        <p-button
          type="submit"
          class="p-button-succes"
          [disabled]="!form.valid || !passwordsMatch()"
          >Save Changes</p-button
        >
      </form>
    </div>
  </div>
</div>
