.card {
  background-color: white;
  margin-top: 50px;
  margin-left: 5%;
  margin-right: 5%;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 50px;
  padding-top: 100px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 20px;
}
