<p-toast></p-toast> <br /><br />
<form class="form" [formGroup]="upload" (ngSubmit)="onSubmit()">
  <section class="container">
    <div class="input-box">
      <label for="partnerMoaFile"
        ><strong>Upload Certificate</strong
        ><span class="opacity">(Image, PDF)</span>
      </label>
      <input
        type="file"
        id="myFile"
        class="upload-box"
        name="certificate"
        (change)="certificateUpload($event)"
        style="
          border: 1px solid #d5d7da;
          width: 58%;
          border-radius: 5px;
          height: 100%;
        "
        required
      />
    </div>
    <div class="input-box">
      <label for="partnerMoaFile"
        ><strong>Upload Attendance</strong
        ><span class="opacity">(PDF)</span></label
      >
      <input
        type="file"
        id="myFile"
        class="upload-box"
        name="attendance"
        (change)="attendanceUpload($event)"
        style="
          border: 1px solid #d5d7da;
          width: 58%;
          border-radius: 5px;
          height: 100%;
        "
        required
      />
    </div>
    <div class="input-box">
      <label for="partnerMoaFile"
        ><strong>Upload Invitation</strong
        ><span class="opacity">(Image, PDF)</span></label
      >
      <input
        type="file"
        id="myFile"
        class="upload-box"
        name="invitation"
        style="
          border: 1px solid #d5d7da;
          width: 58%;
          border-radius: 5px;
          height: 100%;
        "
        required
        (change)="invitationUpload($event)"
      />
    </div>
    <div class="buttons">
      <button
        type="submit"
        class="buttons"
        [style]="{
          'background-color': systemProfile.ThemeColor + ' !important',
          width: '100px',
          height: '45px',
          color: 'white',

        }"
      >
        Upload
      </button>
    </div>
  </section>
</form>
