<p-toast></p-toast>
<link
  href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
  rel="stylesheet"
/>
<body>
  <section class="container">
    <h1>Program Members:</h1>
    <button
      pButton
      routerLink="/admin/add-member"
      class="add-btn"
      [style]="{
        'background-color': 'white',
        height: '45px',
        color: 'white',
        border: '2px solid' + systemProfile.ThemeColor
      }"
    >
      <span class="button_text" [style]="{ color: systemProfile.ThemeColor }"
        >Add Members</span
      >
      <br />
      <span
        class="button_icon"
        [style]="{
        'background-color': systemProfile.ThemeColor,}"
      >
        <i class="bx bx-plus"></i
      ></span></button
    ><br /><br /><br />
    <p-table [value]="users.partners" styleClass="p-datatable-gridlines">
      <ng-template pTemplate="header">
        <tr>
          <th>Program Members:</th>
          <th>Position:</th>
          <th>Involvement:</th>
          <th style="width: 200px">Action:</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-member>
        <tr>
          <td>{{ member.name }}</td>
          <td>{{ member.position }}</td>
          <td>{{ member.involvement }}</td>
          <td>
            <button
              (click)="removeMember(member.id)"
              styleClass="p-button-danger"
              class="button"
              [style]="{
                'background-color': systemProfile.ThemeColor + ' !important',
                width: '100px',
                height: '45px',
                color: 'white'
              }"
            >
              Remove
            </button>
          </td>
        </tr>
      </ng-template>
    </p-table>
    <br /><br /><br />
    <br /><br /><br />
    <h1>Program Participants:</h1>
    <button
      pButton
      routerLink="/admin/add-participant"
      class="add-btn"
      [style]="{
        'background-color': 'white',
        height: '45px',
        color: 'white',
        border: '2px solid' + systemProfile.ThemeColor
      }"
    >
      <span class="button_text" [style]="{ color: systemProfile.ThemeColor }"
        >Add Participant</span
      >
      <br />
      <span
        class="button_icon"
        [style]="{
        'background-color': systemProfile.ThemeColor,}"
      >
        <i class="bx bx-plus"></i
      ></span></button
    ><br /><br /><br />
    <p-table [value]="usersp.participants" styleClass="p-datatable-gridlines">
      <ng-template pTemplate="header">
        <tr>
          <th>Program Participant:</th>
          <th>Entity:</th>
          <th style="width: 200px">Action:</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-member>
        <tr>
          <td>{{ member.participant }}</td>
          <td>{{ member.entity }}</td>
          <td>
            <button
              (click)="removeParticipant(member.id)"
              class="button"
              [style]="{
                'background-color': systemProfile.ThemeColor + ' !important',
                width: '100px',
                height: '45px',
                color: 'white'
              }"
            >
              Remove
            </button>
          </td>
        </tr>
      </ng-template>
    </p-table>
    <br /><br /><br />
    <br /><br /><br />
    <h1>Program Flow:</h1>

    <button
      pButton
      routerLink="/admin/add-flow"
      class="add-btn"
      [style]="{
        'background-color': 'white',
        height: '45px',
        color: 'white',
        border: '2px solid' + systemProfile.ThemeColor
      }"
    >
      <span class="button_text" [style]="{ color: systemProfile.ThemeColor }"
        >Add Program Flow</span
      >
      <br />
      <span
        class="button_icon"
        [style]="{
      'background-color': systemProfile.ThemeColor,}"
      >
        <i class="bx bx-plus"></i
      ></span></button
    ><br /><br /><br />
    <p-table [value]="userFlow.flow" styleClass="p-datatable-gridlines">
      <ng-template pTemplate="header">
        <tr>
          <th>Program Flow:</th>
          <th>Event Type:</th>
          <th style="width: 200px">Action:</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-member>
        <tr>
          <td>{{ member.eventName }}</td>
          <td>{{ member.eventType }}</td>
          <td>
            <button
              (click)="removeFlow(member.id)"
              class="button"
              [style]="{
                'background-color': systemProfile.ThemeColor + ' !important',
                width: '100px',
                height: '45px',
                color: 'white'
              }"
            >
              Remove
            </button>
          </td>
        </tr>
      </ng-template>
    </p-table>
    <br /><br />
    <button
      routerLink="/admin/list-programs"
      class="save-btn button"
      style="border-radius: 8px"
      [style]="{
        'background-color': systemProfile.ThemeColor + ' !important',
        width: '150px',
        height: '45px',
        color: 'white'
      }"
    >
      Save
    </button>
  </section>
</body>
