<h1>Program Members:</h1>
<form>
  <button routerLink="/admin/add-member">Add Member</button>
  <table>
    <thead>
      <tr>
        <th>Program Members:</th>
        <th>Position:</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let member of users.partners">
        <td>{{ member.name }}</td>
        <td>{{ member.position }}</td>
        <td>{{ member.involvement }}</td>
      </tr>
    </tbody>
  </table>
  <br />
  <h1>Program Participants:</h1>
  <button routerLink="/admin/add-participant">Add Participant</button>
  <table>
    <thead>
      <tr>
        <th>Program Participant:</th>
        <th>Entity:</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let member of usersp.participants">
        <td>{{ member.participant }}</td>
        <td>{{ member.entity }}</td>
      </tr>
    </tbody>
  </table>

  <h1>Program Flow:</h1>
  <button routerLink="/admin/add-flow">Add Program Flow</button>
</form>
